.fa-check--bg-dark {
  color: #ffffff;
  background-color: var(--bg-color);
  padding: 0.25rem;
  border-radius: 0.3125rem;
  font-size: var(--icon-size);
}
.fa-check--bg-white {
  color: var(--primary-color);
  background-color: #ffffff;
  padding: 0.25rem;
  border-radius: 0.3125rem;
  font-size: var(--icon-size);
}
